.editableListContainer {
    margin: 10px;
    background-color: hsl(0, 0%, 75%);
}

.editableListContainer h5 {
    margin: 20px;
}

.editableListContainer ul {
    list-style-type: none;
    padding: 0;
}

.editableListRow {
    background-color: white;
    padding: 6px;
}

.editableListRowActive {
    font-weight: bold;
}

.editableListCell {
    margin-left: 10px;
    cursor: pointer;
}

.editableListEdit {
    margin-left: 25px;
}

.editableListColumn {
    width: 200px;
    display: inline-flex;
}

.editableListColumn input {
    flex: 10;
}

.editableListHeader {
    display: flex;
}

.editableListAddForm {
    background-color: white;
    padding-top: 0.5rem;
}

.editableListAddButton {
    padding: 0.5rem;
}

.editableListAddButton input {
    cursor: pointer;
}

.editableListTitle {
    font-size: 1.5rem;
}

.editableListHeaderButton {
    margin-left: auto;
    margin-right: 20px;
    font-size: 2rem;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    cursor: pointer;
}

.editableListSaveButton {
    margin: 0.5rem;
}

.editableListSaveButton > input {
    cursor: pointer;
}
