.vs/*
.git/*
target/*
src/frontend/node_modules/*
**/.vscode/*
src/frontend/dist/*
src/frontend/target/*
src/frontend/include/*
src/backend/lib/*
src/backend/build
src/backend/target
src/backend/src/DBAccess/Creds.go
include/*
config/creds*