.vs/*
.git/*
target/*
build/*
bin/*
src/frontend/node_modules/*
**/.vscode/*
src/**/.DS_Store
src/frontend/dist/*
src/frontend/target/*
src/frontend/include/*
src/backend/lib/*
Src/backend/bin
src/backend/build
src/backend/obj
src/backend/target
src/backend/src/DBAccess/creds.json
include/*
config/creds*
src/.DS_Store
.DS_Store
Src/.DS_Store?
