.vs/*
.git/*
target/*
build/*
bin/*
obj/*
src/frontend/node_modules/*
node_modules/*
**/.vscode/*
src/**/.DS_Store
src/frontend/dist/*
src/frontend/target/*
src/frontend/include/*
src/backend/lib/*
src/**/.bloop/*
src/backend.old
Src/backend/bin
src/backend/build
src/backend/obj
src/backend/target
src/backend/cmn/config/creds.json
*.service
include/*
config/creds*
src/**/creds.json
src/.DS_Store
.DS_Store
Src/.DS_Store?
.VSCodeCounter/*

.gradle/*
gradle/*
# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Avoid ignore Gradle wrappper properties
!gradle-wrapper.properties

# Cache of project
.gradletasknamecache
src/backend/main/tech/sozonov/SnippetVault/user/auth/*
src/backend/resources/application.properties
