.togglerContainer {
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    cursor: pointer;
    display: inline-flex;
    background-color: hsl(0, 0%, 18%);
}

.inactiveChoice {
    transition: all 0.5s ease;
    border-radius: 0.5rem;
    color: hsl(0, 0%, 18%);
}

.togglerChoice{
    padding: 4px;
}


.activeChoiceLeft {
    transition: all 0.8s ease;
    background-color: hsl(0, 0%, 31%);
    color: black;
}

.activeChoiceRight {
    transition: all 0.8s ease;
    background-color: hsl(0, 0%, 31%);
    color: black;
}

.toggleSwitch {
    width: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
    background-color: hsl(0, 0%, 31%);
}
    
.toggleSwitch.on {
    justify-content: flex-start;
    transition: all 0.8s ease;
}
    
.toggleSwitch.off {
    justify-content: flex-end;
    transition: all 0.8s ease;
}
    
.toggleSwitch div {
    width: 5px;
    height: 5px;
    background-color: hsl(180, 57%, 43%);
}

.togglerLeftRect {
    width: 5px;
    border-top-width: 5px;
    border-top-style: solid;
}

.togglerLeftRectInactive {
    border-top-color: hsl(0, 0%, 18%);
}

.togglerLeftRectActive {
    border-top-color: hsl(180, 57%, 43%);
    background-color: hsl(0, 0%, 31%);
}

.togglerRightRect {
    width: 5px;
    border-bottom-width: 5px;
    border-bottom-style: solid;
}

.togglerRightRectInactive {
    border-bottom-color: hsl(0, 0%, 18%);
}

.togglerRightRectActive {
    background-color: hsl(0, 0%, 31%);
    border-bottom-color: hsl(180, 57%, 43%);
}