.alternativeBody {
    margin-left: 0.5vw;
    margin-right: 1.5vw;
    display: flex;
    flex-direction: column;
    color: white;
    overflow-y: auto;
    border: 1px solid white;
}

.alternativeMargin {
    height: 0.5rem;
    background-color: hsl(0, 0%, 18%);
}

.alternativeHeader {
    display: block;
    min-height: 6rem;
    width: 100%;
    position: sticky;
}

.alternativeHeaderTitle {
    background-color: hsl(0, 0%, 28%);
    color: white;
    text-align: center;
    font-size: 1.5rem;
    width: 100%;
    border-bottom: 1px solid white;
    display: flex;
}

.alternativeHeaderTitle > span {
    margin-left: 1rem;
}

.alternativeHeaderTitle > a {
    margin-right: 1rem;
    margin-left: auto;
}

.alternativeHeaderTitle svg {
    cursor: pointer;
    stroke: white;
    fill: transparent;
}

.alternativeHeaderMain {
    padding-top: 0.5rem;
    display: flex;
    justify-content: flex-start;
    align-items: top;
    height: 100%;
}

.alternativeHeaderMainLeft {
    padding-left: 0.5rem;
    width: 30%;
    border-color: hsl(120, 71%, 43%);
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto;
    column-gap: 0.5rem;
}

.alternativeHeaderGridLeft {
    text-align: right;
}

.alternativeHeaderGridRight {
    text-align: left;
}

.alternativeHeaderMainMid {
    width: 25%;
    margin-left: 1%;
}

.alternativeHeaderMainRight {
    text-align: center;
    display: flex;
    flex: 10;
    flex-direction: column;
    justify-content: center;
    color: hsl(60, 100%, 59%);
    font-family: 'Old English Text MT', 'Arial Narrow', Arial, sans-serif;
}

.alternativeHeaderMainRightCode {
    font-family: Monospace, Arial, sans-serif;
    color: hsl(120, 100%, 62%);
    background-color: black;
    border-radius: 0.3rem;
    padding: 1rem;
    margin-right: 1rem;
    text-align: left;
    white-space: pre-line;
    overflow-y: auto;
}

.alternativeHeaderMainFooter {
    padding: 1rem;
    font-size: 0.8rem;
}

.alternativeHeaderMainFooter > span {
    margin-right: 1rem;
}

.alternativeLeftSide {
    border-color: hsl(120, 71%, 43%);
}

.alternativeRightSide {
    border-color: hsl(46, 84%, 39%);
}

.alternativeTimestamp {
    font-weight: bold;
    color: green;
}

.alternativeButtons {
    height: 100%;
    display: flex;

    flex-direction: column;
    justify-content: space-around;
}

.alternativeItem {
    color: white;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}

.alternativeItemCode {
    margin-right: 4vw;
    margin-left: 1rem;
    margin-bottom: 10px;
    padding: 5px;
    padding-bottom: 1rem;
    background-color: black;
    color: hsl(120, 100%, 62%);
    border-radius: 0.3rem;
    white-space: pre-line;
    font-family: monospace;
}

.alternativeItemPrimary {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border-style: solid;
    border-color: hsl(120, 5%, 70%);
    border-width: 2px;
    margin-top: 2rem;
    padding: 1rem;
    color: white;
}

.alternativeItemHeader {
    margin-bottom: 10px;
    margin-left: 1rem;
    font-size: 0.8rem;
}

.alternativeItemHeader span {
    margin-right: 10px;
}

.alternativeFooterVote {
    margin-bottom: 1rem;
}

.alternativeFooterVote span {
    margin-right: 10px;
    cursor: pointer;
}

.alternativeFooterVoted {
    border: solid 2px hsl(120, 90%, 65%);
    border-radius: 0.2rem;
    padding: 0.2rem;
    color: hsl(120, 90%, 65%);
}

.alternativeItemComments {
    margin-top: 0.5rem;
    padding: 0.5rem;
}


.alternativeItemCommentsHeader {
    font-size: 0.9rem;
}

.alternativeItemCommentsComment {
    margin-bottom: 10px;
}

.alternativeItemCommentsSmall {
    font-size: 0.8rem;
}

.alternativeItemCommentsText {
    margin-top: 0.6rem;
    margin-bottom: 0.6rem;
}

.alternativeItemButton {
    cursor: pointer;
    font-family: 'Arial Narrow', Arial, sans-serif;
    border-width: 1px;
    border-style: solid;
    border-radius: 50%;
    background-color: white;
    color: black;
    text-align: center;
    font-size: 0.6rem;
    margin: 10px;
    padding: 3px;
}

.alternativeItemButton:hover {
    margin: 3px;
    padding: 10px;
    color: green;
    transition: all 0.3s ease;
}


.alternativeDialogButtons {
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.alternativeDialogButton {
    padding: 0.3rem;
    border: solid 1px black;
    border-radius: 0.3rem;
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.alternativeDialogTextareaContainer {
    display: flex;
    justify-content: center;
}

.alternativeDialogTextarea {
    width: 90vw;
    height: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;

}

.clickable {
    cursor: pointer;
}

.alternativeOpenProposal {
    border: solid 1px white;
    border-radius: 0.3rem;
    padding: 0.2rem;
}

.alternativeDialogUsername {
    text-decoration: underline;
}

.alternativeDialogCode {
    color: hsl(120, 100%, 62%);
    background-color: black;
    color: green;
    margin: 5px;
    font-family: monospace;
    white-space: pre-wrap;
}
