.proposalInputContainer {
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    padding-left: 0.5rem;
}


.proposalInputBlock {
    margin-bottom: 1rem;
    width: 100%;
}

.proposalInputBlockText {
    flex: 10;
    margin-bottom: 1rem;
    width: 100%;
}

.proposalInputTextArea {
    height: 100%;
    width: 90%;
    font-size: 1rem;
    margin: 0.3rem;
}

.proposalInputButtons {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.proposalInputButton {
    background-color: hsl(0, 0%, 18%);
    border-radius: 0.3rem;
    border: groove 1px white;
    color: white;
    padding: 5px;
    cursor: pointer;
}


.proposalInputLang {
    color: hsl(120, 71%, 43%);
}


.proposalInputTask {
    color: hsl(46, 84%, 39%);
}
