/* Menu header: the inputs for choices */

.headerContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 10px;
    font-family: 'Old English Text MT', 'Arial Narrow', Arial, sans-serif;
}

.adminHeader {
    width: 150px;
    height: 3em;
    color: #F0F0F0;
    border-style: groove;
    border-width: 1px;
    padding: 8px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.choiceInput {
    margin-left: 10px;
    display: flex;
    height: 4.5rem;
    flex-direction: column;
    justify-content: space-evenly;
    color: white;
    border-width: 1px;
    border-style: groove;
    padding-top: 0.5rem;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
    padding-bottom: 0;
}

.choiceInputButton {
    margin-left: 10px;
    height: 4em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-width: 1px;
    border-style: groove;
    padding: 8px;
    cursor: pointer;
    color: white;
}

.headerRightmost {
    border-top-right-radius: 10px;
}

.headerLeftmost {
    border-top-left-radius: 10px;
}

/* Body header */

.snippetsHeader {
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 2.5em;
}

.taskForHeader {
    width: 16vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom-style: solid;
    border-bottom-width: 1px;    
    border-color: #707070;
}

.snippetLeftHeader {
    width: 41vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #40FF40;
    border-style: solid;
    border-top-left-radius: 12px;
    border-width: 1px;
    border-color: #20C020;
    font-size: 1.2rem;
    font-family: 'Old English Text MT', 'Arial Narrow', Arial, sans-serif;
}

.snippetRightHeader {
    width: 41vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #FFFF30;
    border-style: solid;
    border-top-right-radius: 12px;
    border-width: 1px;
    border-color: #ba9510;
    font-size: 1.2rem;
    font-family: 'Old English Text MT', 'Arial Narrow', Arial, sans-serif;
}

.headerDropdownLabel {
    height: 2rem;
    margin: 0;
    padding: 0;
}

/* Snippets body */

.snippetsBody {
    background-color: #303030;
    padding-top: 20px;
    padding-left: 1vw;
    padding-right: 1vw;
}

.snippetsContainer {
    display: flex;
    flex-direction: column;
    color: white;
    width: 100%;
    /* overflow-y: scroll; */
}

.snippetRow {
    display: flex;
    flex-direction: row;
    align-content: stretch;
    width: 100%;
    min-height: 4rem;
    background-color: #303030;
}

.snippetCodeContainer {
    display: flex;
    flex-direction: row;
    padding: 5px;
}

.snippetButtons {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.snippetButtonsRight {
    margin-left: auto;
}

.snippetContent {
    width: 41vw;
    border-style: solid;
    border-width: 1px;
    border-top-width: 0;
}

.snippetCode {
    margin: 5px;
    font-family: monospace;
    white-space: pre-wrap;
}

.taskContainer {
    width: 16vw;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-color: #707070;
    min-height: 4em;
    text-align: center;
}

/* Comments */

.commentButton {
    cursor: pointer;
    font-family: 'Arial Narrow', Arial, sans-serif;
    border-width: 1px;
    border-style: solid;
    border-radius: 50%;
    background-color: white;
    color: black;
    text-align: center;
    font-size: 0.6rem;
    margin: 5px;
    padding: 3px;
}

.snippetFooter { 
    margin-bottom: 20px;
    background-color: #303030;
}


/* Common elements */
p {
    margin: 0;
}

select {
    border-radius: 8px;
    background-color: #303030;
    color: white;
    padding-left: 5px;
}

.evenRow {
    background-color: #404040;
}

.leftSide {
    border-color: #20C020;
}

.rightSide {
    border-color: #ba9510;
}

/* a tag corrections */
a {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: none;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

/* Text input */
.snippetTextArea {
    height: 4rem;
    font-size: 1rem;
    width: 100%;
}

.snippetButton {
    background-color: #303030;
    border-color: white;
    border-style: groove;
    border-width: 1px;
    color: white;
    padding: 5px;
    cursor: pointer;
}

