.alternativeBody {
    background-color: hsl(0, 0%, 18%);
    padding-top: 20px;
    padding-left: 2vw;
    padding-right: 2vw;
    display: flex;
    flex-direction: column;
    color: white;
    width: 100%;
    height: 100%;
}

.alternativeHeader {
    display: block;
    min-height: 2.5em;
    width: 96vw;
    border-style: solid;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border-width: 1px;
}

.alternativeHeaderTitle {
    text-align: center;
    width: 100%;
}

.alternativeHeaderMain {
    display: flex;
    justify-content: center;
    align-items: center;    
}

.alternativeHeaderMainLeft {
    width: 40vw;
    text-align: center;           
    color: hsl(120, 100%, 62%);
    
    border-color: hsl(120, 71%, 43%);    
    font-size: 1.2rem;
    font-family: 'Old English Text MT', 'Arial Narrow', Arial, sans-serif;
}

.alternativeHeaderMainRight {
    width: 40vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: hsl(60, 100%, 59%);
    border-style: solid;
    border-width: 1px;
    border-color: hsl(46, 84%, 39%);
    font-size: 1.2rem;
    font-family: 'Old English Text MT', 'Arial Narrow', Arial, sans-serif;
}

.alternativeRow {
    display: flex;
    flex-direction: row;
    align-content: stretch;
    width: 100%;
    min-height: 4rem;
    background-color: hsl(0, 0%, 30%);    
}

.alternativeLeftSide {
    border-color: hsl(120, 71%, 43%);
}

.alternativeRightSide {
    border-color: hsl(46, 84%, 39%);
}

.alternativeTimestampContainer {
    width: 16vw;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-color: hsl(0, 0%, 43%);
    min-height: 4em;
    text-align: center;
}

.alternativeTimestamp {
    font-weight: bold;
    color: green;
}

.alternativeButtons {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.alternativeItem {
    border-bottom-style: solid;
    border-bottom-color: hsl(0, 0%, 70%);
    border-bottom-width: 1px;
    margin-top: 0.5rem;
    padding: 1rem;
    color: white;
}

.alternativeItemCode {
    margin-bottom: 10px;
}

.alternativeItemPrimary {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border-style: solid;
    border-color: hsl(120, 5%, 70%);
    border-width: 2px;
    margin-top: 2rem;
    padding: 1rem;
    color: white;
}

.alternativeItemHeader {
    margin-bottom: 10px;
}

.alternativeItemHeader span {
    margin-right: 10px;
}

.alternativeItemFooter span {
    margin-right: 10px;
}

.alternativeItemComments {
    border-width: 1px;
    border-style: solid;
    border-color: hsl(0, 0%, 58%);
}

.alternativeItemCommentsComment {
    margin-bottom: 10px;
}