.alternativeBody {
    background-color: hsl(0, 0%, 18%);
    padding-top: 20px;
    padding-left: 1vw;
    padding-right: 1vw;
    display: flex;
    flex-direction: column;
    color: white;
    width: 100%;
}

.alternativeHeader {
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 2.5em;
}

.alternativeLeftHeader {
    width: 41vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: hsl(120, 100%, 62%);
    align-items: center;
    border-style: solid;
    border-top-left-radius: 12px;
    border-width: 1px;
    border-color: hsl(120, 71%, 43%);    
    font-size: 1.2rem;
    font-family: 'Old English Text MT', 'Arial Narrow', Arial, sans-serif;
}

.alternativeRightHeader {
    width: 41vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #FFFF30;
    border-style: solid;
    border-top-right-radius: 12px;
    border-width: 1px;
    border-color: #ba9510;
    font-size: 1.2rem;
    font-family: 'Old English Text MT', 'Arial Narrow', Arial, sans-serif;
}

.alternativeRow {
    display: flex;
    flex-direction: row;
    align-content: stretch;
    width: 100%;
    min-height: 4rem;
    background-color: hsl(0, 0%, 30%);    
}


.alternative {
    width: 41vw;
    display: flex;
    flex-direction: row;
    border-style: solid;
    border-width: 1px;
    border-top-width: 0;
}

.alternativeLeftSide {
    border-color: hsl(120, 71%, 43%);
}

.alternativeRightSide {
    border-color: hsl(46, 84%, 39%);
}

.alternativeTimestampContainer {
    width: 16vw;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-color: hsl(0, 0%, 43%);
    min-height: 4em;
    text-align: center;
}

.alternativeTimestamp {
    font-weight: bold;
    color: green;
}

.alternativeButtons {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.alternativeItem {
    color: white;
}